:root {
  --vxe-table-docs-font-color: #000;
  --vxe-table-docs-background-color: #ffffff;

  --vxe-table-docs-layout-border-color: #dcdfe6;

  --vxe-table-docs-declare-tip-background-color: #f8f8f8;
}