@import 'vxe-table/styles/variable.scss';
@import './variable.scss';
@import 'vxe-table/styles/modules.scss';

@import './table/renderer/default.scss';
@import './table/renderer/edit.scss';
@import './table/renderer/filter.scss';