[vxe-docs-theme="dark"] {
  --vxe-table-docs-font-color: #98989E;
  --vxe-table-docs-background-color: #141414;

  --vxe-table-docs-layout-border-color: #4C4D4F;

  --vxe-table-docs-declare-tip-background-color: #141414;
}