[data-vxe-ui-theme="dark"] {
  --vxe-ui-docs-primary-color: var(--vxe-ui-font-primary-color);
  --vxe-ui-docs-font-color: #a0a3a7;
  --vxe-ui-docs-layout-border-color: #3e3f40;
  --vxe-ui-docs-layout-background-color: #121212;
  --vxe-ui-docs-layout-menu-color: #abafb3;
}