[data-vxe-ui-theme="light"] {
  --vxe-ui-docs-primary-color: var(--vxe-ui-font-primary-color);
  --vxe-ui-docs-font-color: #606266;
  --vxe-ui-docs-layout-border-color: #ecf0f7;
  --vxe-ui-docs-layout-background-color: #ffffff;
  --vxe-ui-docs-layout-menu-color: #606266;
}